body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  font-family: Arial, sans-serif;
}

canvas#girasol-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.popup-container {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animated-text {
  color: #ff00ff;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

/* Animaciones */
.animated-word {
  animation: fade 0.6s ease-in-out;
}

.final-word {
  animation: neon-pulse 3s infinite alternate;
  font-size: 50%; /* cambia este % para probar tamaños: 400%, 500%, etc. */
  text-align: center;
  line-height: 1.2;
  word-break: break-word;
  display: inline-block;
}

.gif-dino {
  position: absolute;
  width: 180px; /* ajusta este valor según lo grande que lo quieras */
  top: 20%;
  left: 30%;
  z-index: 10;
}

.final-word .linea {
  display: block;
}


/*################## Botón de descarga #########*/

#boton-descarga {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 9999;
}

#boton-descarga.visible {
  opacity: 1;
}

.boton-azul {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px #007BFF;
}


@keyframes fade {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes neon-pulse {
  0% {
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
  }
  100% {
    text-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff;
  }
}

/* Confeti */
.confetti {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: hsl(calc(360 * var(--i)), 100%, 50%);
  animation: explotar 1.5s ease-out forwards;
}

@keyframes explotar {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(var(--x), var(--y)); opacity: 0; }
}
