/*###########################################################################################################*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  overflow: hidden;
}

.popup-container {
  width: 100%;
  height: 100%;
  border: 2px solid blueviolet;
  box-sizing: border-box;
  padding: 10px;
}
  
.acr {
  text-align: center;
  font-size: 20px;
  margin-top: 105px;
  color: rgb(72, 10, 131);
}

/* Efecto neón con pulso lento */
.title {
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
  color: rgb(161, 8, 98);
  text-shadow:
    0 0 4px rgb(72, 10, 131),
    0 0 8px violet;
  animation: pulseNeon 5s infinite ease-in-out;
}
  

@keyframes pulseNeon {
  0% {
    text-shadow: 0 0 4px rgb(72, 10, 131), 0 0 8px violet;
    opacity: 1;
  }
  25% {
    text-shadow: 0 0 8px rgb(72, 10, 131), 0 0 16px violet;
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 16px rgb(72, 10, 131), 0 0 32px violet;
    opacity: 0.9;
  }
  75% {
    text-shadow: 0 0 8px rgb(72, 10, 131), 0 0 16px violet;
    opacity: 1;
  }
  100% {
    text-shadow: 0 0 4px rgb(72, 10, 131), 0 0 8px violet;
    opacity: 1;
  }
}

/*####################################################################### EMOGIS */
@keyframes fall {
  0% { top: -10%; opacity: 1; }
  100% { top: 110%; opacity: 0; }
}

/*####################################################################### DIONOAMO */

.te-dinoamo {
  color: #00ccff; /* Azul brillante */
  font-weight: bold;
  font-family: 'Verdana', sans-serif;
  text-align: center;
  text-shadow:
    0 0 6px #00ccff,
    0 0 12px #0099cc,
    0 0 18px #006699;
  animation: pulseBlue 1.5s infinite ease-in-out;
}

@keyframes pulseBlue {
  0% {
    text-shadow: 0 0 6px #00ccff, 0 0 12px #f806e4, 0 0 18px #ec0b0b;
    transform: scale(1);
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 12px #66d9ff, 0 0 24px #f806e4, 0 0 30px #ec0b0b;
    transform: scale(1.1);
    opacity: 0.95;
  }
  100% {
    text-shadow: 0 0 6px #00ccff, 0 0 12px #f806e4, 0 0 18px #ec0b0b;
    transform: scale(1);
    opacity: 1;
  }
}

/*####################################################################### ENCANTAS */

.me-encantas {
  color: #ff0000; /* Azul brillante */
  font-weight: bold;
  font-family: 'Verdana', sans-serif;
  text-align: center;
  text-shadow:
    0 0 6px #ff0000,
    0 0 12px #cc0000,
    0 0 18px #990000;
  animation: pulsePink 1.5s infinite ease-in-out;
}

@keyframes pulsePink {
  0% {
    text-shadow: 0 0 6px #ff0000, 0 0 12px #790101, 0 0 18px #ec0b0b;
    transform: scale(1);
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 12px #ec0b0b, 0 0 24px #810202, 0 0 30px #ec0b0b;
    transform: scale(1.1);
    opacity: 0.95;
  }
  100% {
    text-shadow: 0 0 6px #ec0b0b, 0 0 12px #810000, 0 0 18px #ec0b0b;
    transform: scale(1);
    opacity: 1;
  }
}

/*####################################################################### QUIAMO */

.te-quiamo {
  color: #ffc400; /* Azul brillante */
  font-weight: bold;
  font-family: 'Verdana', sans-serif;
  text-align: center;
  text-shadow:
    0 0 6px #ffee00,
    0 0 12px #ccad00,
    0 0 18px #998f00;
  animation: pulsePink 1.5s infinite ease-in-out;
}

@keyframes pulsePink {
  0% {
    text-shadow: 0 0 6px #fffb00, 0 0 12px #777901, 0 0 18px #fffb00;
    transform: scale(1);
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 12px #fffb00, 0 0 24px #777901, 0 0 30px #fffb00;
    transform: scale(1.1);
    opacity: 0.95;
  }
  100% {
    text-shadow: 0 0 6px #fffb00, 0 0 12px #777901, 0 0 18px #fffb00;
    transform: scale(1);
    opacity: 1;
  }
}
